$primary-color: #444;
$secondary-color: #05fbf8;
$show-home-image: true;
$home-image: url(../img/hero1.svg);
$background-opacity: 0.8;
@mixin easeOut {
    transition: all 0.8s ease-out;
}

@mixin background {
    @if $show-home-image {
        &#bg-img {
            background: $home-image;
            background-attachment: fixed;
            background-size: contain;
            background-position: right;
            background-repeat: no-repeat;
            &:after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                background: rgba(#000, $background-opacity);
                z-index: -1;
            }
        }
    }
}

//MEDIA QUERIES MIXIN
@mixin mediaSm {
    @media screen and (max-width: 500px) {
        @content;
    }
}

//medium
@mixin mediaMd {
    @media screen and (max-width: 768px) {
        @content;
    }
}

//large
@mixin mediaLg {
    @media screen and (min-width: 769px) and (max-width: 1170px) {
        @content;
    }
}

//extra large
@mixin mediaXl {
    @media screen and (min-width: 1171px) {
        @content;
    }
}