@import 'config';
@import 'menu';
@import 'mobile';
* {
    box-sizing: border-box;
}

body {
    @include background;
    background: $primary-color;
    height: 100%;
    margin: 0;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    color: white;
}

//HEADINGS
h1,
h2,
h3 {
    margin: 0;
    font-weight: 400;
    &.heading {
        font-size: 5rem;
    }
    &.sm-heading {
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: rgba(lighten($color: #444, $amount: 2), 0.5);
    }
}

a {
    color: #fff;
    text-decoration: none;
}

header {
    position: fixed; // always stay at the top
    z-index: 2; // so its always at the front the bigger the number the closer the element it is to u
    width: 100%;
}

.text-secondary {
    color: #053113;
}

main {
    padding: 4rem;
    height: 100%;
    .icons {
        margin-top: 1rem;
        a {
            padding: 0.5rem;
            &:hover {
                color: $secondary-color;
                @include easeOut();
            }
        }
    }
    &#home {
        overflow: hidden; //no scrollbars
        h1 {
            margin-top: 20vh;
        }
    }
}